*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.result {
  max-width: 800px;
}

.search-form {
  display: flex;
  gap: 10px;
  align-items: flex-start;
}

.content__list {
  max-height: 300px;
  overflow-y: auto;
}

.content__details {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.title {
  margin-bottom: 20px;
}

.result__video-container {
  max-width: 100%;
  margin-bottom: 20px;
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
}

.result__video {
  width: 100%;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
}

.content__list-item {
  margin-bottom: 20px;
}

.content__list-item:last-child {
  margin-bottom: 0;
}